@import '../../../colors.scss';

$menuBgColor: #121212;

nav,
.nav {
    padding: 0 1rem;
    height: 40px !important;
    background: $menuBgColor !important;
    .nav-container {
        justify-content: flex-start;
        max-width: 1920px;
        padding: 0 8px;
        .hamburger {
            display: flex;
            color: $lightGray;
            transition: color 200ms ease-in-out;
            cursor: pointer;
            &:hover {
                color: $white;
            }
        }
        svg {
            font-size: 1.25rem;
        }
    }
}
