// @import './normalize.scss';
@import 'mustard-ui/src/scss/mustard-ui.scss';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

// Mustard UI Overrides

$fontFamily: 'PT Sans', sans-serif;

html {
    font-size: 16px;
}

body {
    background: $bgColor;
    font-family: $fontFamily;
}

/* Structure */
.container {
    margin: 2rem 1rem;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontFamily;
    color: $white;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

/* Links */
a {
    padding: 0.5rem, 0.75rem;
    font-family: $fontFamily;
}
